{% extends "base.html" %}

{% block content %}
<h2>Add Employee</h2>

<form action="{{ url_for('add_employee') }}" method="POST">


  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" name="name" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" name="email" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Department</label>
    <input type="text" class="form-control" name="department" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Salary</label>
    <input type="number" class="form-control" name="salary" required>
  </div>
  
  <button type="submit" class="btn btn-success">Add Employee</button>
  <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
